<template>
    <div class="footer">
        <p v-if="!gifs.length">No liked picture... Just add some :)</p>
        <div class="imagez">
            <div v-for="gif in gifs" :key="gif.id">
                <img :src="gif.images.fixed_height_small.url">
                <button v-on:click="removedLike(gif)">x</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        removedLike (gif) {
            this.$store.dispatch("onUnlike", gif)
        }
    },
    computed: {
        gifs () {
            return this.$store.getters.gimmeLikedList
        }
    }
}
</script>

<style scoped>
.footer {
    position: fixed;
    bottom: 0px;
    min-height: 50px;
    width: 100vw;
    background-color: #f8f8f8;
}
.imagez {
    display: flex;
    flex-direction: row;
}

</style>
