<template>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <div class="uk-navbar-item">
                <form name="search-form" class="uk-form-custom" v-on:submit.prevent="onSubmit">
                    <div class="uk-search uk-search-navbar">
                        <input name="submit-string" class="uk-search-input" type="search" placeholder="Search..." required>
                    </div>
                    <button type="submit" class="search-button"><span uk-search-icon></span></button>
                    <div v-if="duringSearching" uk-spinner></div>
                </form>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    methods: {
        onSubmit () {
            var searchQuery = document.forms["search-form"].elements["submit-string"].value // Intercepting the form message
            this.$store.dispatch("getSearch", searchQuery)  // dispatch an action
        }
    },
    computed: {
        duringSearching() {
            return this.$store.getters.isSearching
        }
    }
}
</script>

<style scoped>
.search-button {
    padding: 0;
    border: none;
    background: none;
}
</style>
